#neon
{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    line-height: 50px;
    top: 30%;
    left: 0; 
    transform: skewY(-5deg);
    border: 6px solid transparent;
    padding: 10px 50px;
    animation: animate .1s linear infinite;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: large;
}
#neon h2
{
    margin: 0;
    padding: 0;
    font-size: 4em;
    color:#e789ab;
    text-shadow: 0 0 10px #fff,0 0 30px #fff, 0 0 80px #fff, 0 0 120px #fff;
}

#neon h2 span
{
    animation: animate .1s linear infinite;
}
#neon h2 span:nth-child(1)
    {
        animation-delay: .3s;
    }
#neon h2 span:nth-child(2)
    {
        animation-delay: .25s;
    }
#neon h2 span:nth-child(3)
    {
        animation-delay: .4s;
    }
#neon h2 span:nth-child(4)
    {
        animation-delay: .35s;
    }
#neon h2 span:nth-child(5)
    {
        animation-delay: .2s;
    }
#neon h2 span:nth-child(6)
    {
        animation-delay: .3s;
    }
    @keyframes animate
    {
        0%
        {
            opacity: 1;
        }
        30% 
        {
            opacity: 1;
        }
        40%
        {
            opacity: .5;
        }
        50%
        {
            opacity: 1;
        }
        100%
        {
            opacity: 1;
        }
    }