/* header*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}
a{
    text-decoration: none;
}
p
{
    text-indent: 2em;
    margin: 0.75 0;
    font-family: 'Noto Sans SC', sans-serif;
}

.text-primary{
    color: #f08080;
}
.text-center{
    text-align: center;
}
.text-para{
    color: #5298e9;
    font-weight: bolder;
}
.text-source{
    color:#8b8b8b;
    text-align: center;
    font-size: small;
}
.text-green{
    color: #4a9163;
}
.text-red{
    color: #cd5849;
}
.bgi{
    color: #333;
}
.bg-s{
    background-color: #f8f9fa;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    padding: 2rem 3rem;
}
.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}
.container{
    /* display: block; */
    text-align: justify;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 2rem;
    overflow: hidden;

}
.container-style1{
    /* display: block; */
    text-align: justify;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 2rem;
    overflow: hidden;
    background-color: aliceblue;

}
.container-style2{
    display: block;
    text-align: justify;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 2rem;
    overflow: hidden;
    font-family: Simsum;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.55);

}

.container-style3{
    display: block;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 2rem;
    overflow: hidden;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.55);

}

.container-style4{
    display: block;
    text-align: justify;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 2rem;
    overflow: hidden;
    background-color: #fdf6d2;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 24px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1b2b48;
    color: #f8d55b;
    position: sticky;
    top: 0;
    z-index: 1;/* 避免滚动页面时导航栏被覆盖 */
    padding: 0.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a{
    color: white;
    padding: 0.75rem;
    margin: 0, 0.1;
}
#navbar ul li a:hover{
    background-color: #f8d55b;
    border-radius: 4px;
}
/* 猫猫知多少 */
#introduction{
    background-image: url(images/bg1.JPG);
}
#introduction .items{
    text-align: justify;
    line-height: 2em;
    padding: 0.6rem;
    border-color: #e789ab;
    border-radius: 1rem;
}

#introduction .items .item i{
    background: #f8d55b;
    padding: 0.6em;
    border-radius: 50%;
}
/* section: species */
.all-species{
    background-color: #f9dce6;
    position: relative;
    width: fit-content;
}
.species{
    display: flex;
    z-index: -5;
}
/* .species div{
    flex: 1;
} */
.kind{
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
}
.species-img{
    display: block;
    text-align: center;
    border-radius: 3rem;
}

 .species-img img{
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 3rem;
}
.species-img img:hover{
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 3rem;
    transform: scale(1.1);
}

.species-text{
    position: relative;
    text-align: justify;
    line-height: 2em;
    padding: 3rem;
    border-style: dashed;
    border-radius: 3rem;
    background-color: aliceblue;
}

/* 文字框阴影 */
.species-text::before {
    background: rgba(0, 0, 0, 0.3);
    content: '';
    
    /* Position */
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(1rem, 1rem);
    padding: 0.5rem;
    border-radius: 3rem;

    /* Size */
    height: 100%;
    width: 100%;

    /* Display under the main content */
    z-index: -1;
}
#article{
    position: relative;
    width: fit-content;
    padding: 3rem 3rem;
    margin:0 0;
    background-color: aliceblue;
}

.blog_details h2 {
    font-size: 20px;
    line-height: 30px;
    padding: 1rem;
}
.area-padding {
    padding: 80px 0;
}
.area-heading {
    text-align: center;
    width: 100%;
    margin-bottom: 45px; }
.single-blog {
    margin-bottom: 30px;
}
.single-post-area .blog_details {
    box-shadow: none;
    padding: 0; }
.single-post-area .blog_details {
    padding-top: 26px; }
.single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px; }

.single-blog {
    transition: all 300ms linear 0s;
    position: relative; }
.single-post h2{
    text-align: center;
}
.feature-img img{
    display: block;
    text-align: center;
    border-width: 1rem;
}
.title-style{
    display: block;
    min-width: auto;
    text-align: center;
    border-radius: 3rem;
    background-color:#f8d55b ;
}